@mixin flex($flex, $justify, $align) {
    display: $flex;
    justify-content: $justify;
    align-items: $align;
} 

$color-principal:black;
$color-secundario:white;
$color-terciario:rgb(255, 0, 0);

$colores: black,white,red,